<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>首页</h1>

    <!--
        这个是绝对路径.
        / 被浏览器解析时是绝对路径, 即http://localhost:8080/ 这样会缺少上下文的路径, 此时是springMVC_demo2.
        但是, 加上thymeleaf的语法会就会自动解析, 会补上上下文路径.
    -->
    <a th:href="@{/hello/testRequestMapping}">测试RequestMapping注解的位置</a> <br>
    <a th:href="@{/hello/testRequestMapping}">测试RequestMapping注解的 value 属性 /testRequestMapping</a> <br>
    <a th:href="@{/hello/test}">测试RequestMapping注解的 value 属性 /test</a> <br>

    <a th:href="@{/hello/test}">测试RequestMapping注解的 method 属性 </a> <br>
    <form th:action="@{/hello/test}" method="post">
        <input type="submit" value="测试RequestMapping注解的 method 属性">
    </form>

    <hr>
    <a th:href="@{/hello/testGetMapping}" >测试GetMapping注解(仅支持get请求方式)</a> <br>

    <form th:action="@{/hello/testPostMapping}" method="post">
        <input type="submit" value="测试testPostMapping注解(仅支持post请求方式)">
    </form>

    <hr>
    <!--
        put的请求方式 是不支持的. 会默认更改为get方式.
    -->
    <form th:action="@{/hello/testPut}" method="put">
        <input type="submit" value="测试put请求方式"> <br>
    </form>

    <hr>
    <a th:href="@{/hello/testParametersAndHeaders?username='lit'&password='1'}" >测试params参数</a>

    <hr>
    <a th:href="@{/hello/testParamsHeaders}" >测试headers参数的使用</a>

    <hr>
    <a th:href="@{/hello/asa/testAnt}" >Ant风格的请求方式1 -> ?</a> <br>
    <a th:href="@{/hello/bb/testAnt}" >Ant风格的请求方式2 -> *</a> <br>
    <a th:href="@{/hello/testAnt}" >Ant风格的请求方式3 -> **</a> <br>

</body>
</html>
